@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layer1 {
    background-image: url('./imgs/stackedWaves.svg');
  }

  .layer2 {
    background-image: url('./imgs/stackedWaves1.svg');
  }
}

@layer utilities {
  * {	
  --tw-clip-polygon: var(--tw-clip-polygon-a), var(--tw-clip-polygon-b), var(--tw-clip-polygon-c), var(--tw-clip-polygon-d);
  --tw-clip-polygon-a: 0 0;
  --tw-clip-polygon-b: 100% 0;
  --tw-clip-polygon-c: 100% 100%;
  --tw-clip-polygon-d: 0 100%;
  }

  .clip.polygon.b-3 {
    --tw-clip-polygon-b: 100% 5rem;
  }

  .clip.polygon.bp-3 {
    --tw-clip-polygon-b: 100% 1.5rem;
  }

  .clip.polygon.d-3 {
    --tw-clip-polygon-d: 0 calc(50% - 2.5rem);
  }

  .clip.polygon.dp-3 {
    --tw-clip-polygon-d: 0 calc(100% - 2.5rem);
  }

  .clip.polygon {
    clip-path: polygon(var(--tw-clip-polygon));
  }

  .clip.polygon.c-3 {
    --tw-clip-polygon-c: 100% calc(100% - 2.25rem);
  }

  .clip.polygon.cp-3 {
    --tw-clip-polygon-c: 100% calc(100% - 3rem);
  }
}